################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/SQLBuilder/.vs/SQLBuilder/v15/Server/sqlite3
